@import url(common.css);

#gameCatalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 20rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
}

.card-gap{
    gap:1rem;
}

.imageWrapper{
    max-height: 20rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
}

.imageWrapper img{
    max-width: 20rem;
}

#searchBar{
    max-width: 12rem;
    min-width: 5rem;
    float: right;
    margin-bottom: 2rem
}

#statusBar{
    font-weight: 400;
    font-size: 2rem;
}

span.bi-star{
    font-size: 2em;
    float: right;
    color: gold;
}

span.bi-star-fill{
    font-size: 2em;
    float: right;
    color: gold;
}

.btn-primary{
    margin-top: 6px;
}

.card-text{
    margin-bottom: 10px;
}